html, body{
    margin: 0;
    padding: 0;

    height: 100%;

    font-family: 'Bebas Neue', cursive;

    overflow-x: hidden;
    overflow-y: hidden;
}

a{
    color: white;
    text-decoration: none;
}

.content{
    height: 87%;
}
.line_1, .line_2, .line_3, .line_4, .line_5, .line_6{
    transform: rotate(30deg);

    position: absolute;

    height: 200px;
}

.line_1{
    top: 200px;
    right: -500px;
}
.line_2{
    top: 400px;
    right: -610px;
}
.line_3{
    top: 600px;
    right: -710px;
}
.line_4{
    top: 800px;
    right: -530px;
}
.line_5{
    bottom: -40px;
    left: -40px;
}
.line_6{
    bottom: -100px;
    left: -180px;
}


.content .bg_imgs{
    position: relative;
    z-index: 1;

    height: 200px;
    margin-right: 60PX;

    border-radius: 10px;


    -webkit-box-shadow: -6px 14px 41px 3px rgba(0,0,0,0.48);
    -moz-box-shadow: -6px 14px 41px 3px rgba(0,0,0,0.48);
    box-shadow: -6px 14px 41px 3px rgba(0,0,0,0.48);  
}

.up img{
    animation-name: up;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.down img{
    animation-name: down;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.down_2 img{
    animation-name: down_2;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.logo_container{
    padding-top: 10%;
}

.content .logo{
    position: relative;
    z-index: 2;

    height: 450px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes up {
    0%   {left:0px}
    100% {left:-600px}
}
@keyframes down {
    0%   {left:-600px}
    100% {left:0px}
}
@keyframes down_2 {
    0%   {right:800px}
    100% {right: 300px;}
}

