html{
    background-color: #F5F5F5;
    font-family: "Helvetica", sans-serif;
    color: #032622;
}


.nav_content{
    display: grid;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.02);
    grid-template-columns: 10% repeat(5, 1fr) 10%;
    text-align: center;
}

.nav_content ul{
    grid-column: 5;
    width: 100%;
    align-self: center;
    list-style-type: none;
    margin: 0; 
    padding: 0;
}

.nav_content li{
    display: inline-block;
}

.nav_content li a{
    padding: 10px 35px;
    border-radius: 25px;
    display: inline-block;
    text-decoration: none;
}


.nav_content li a:hover{
    background: #91B8B3;
    color: #032622;
}


.nav_content img{
    grid-column: 2;
    width: 20%;
    height: auto;
}


.nav_content .log_in{
    align-self: center;
    padding: 10px 5px;
    display: inline-block;
    text-decoration: none;
}

.nav_content .log_in:link, .log_in:hover{
    border-radius: 25px;
    background: #91B8B3;
    color: #032622;
}





.content {
    display: grid;
    min-height: 10vh;
    grid-template-columns: 10% repeat(3, minmax(4rem, 1fr)) 10%;
    grid-template-rows: 0.5fr 2fr 0.5fr;
} 
.content > p{
    font-size: 2rem;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-end;
}

.content > .wallet {
    grid-column: 3/4;
    grid-row: 2/3;

    width: 120%;
    height: auto;

    object-fit: cover;
    align-self: center;
    justify-self: center;
}




.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.social_media{
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.social_media > .title{
    grid-column: 2;
    grid-row: 1;
}

.social_media > .instagram{
    grid-column: 1;
    grid-row: 2;
}

.social_media > .fecebook{
    grid-column: 2;
    grid-row: 2;
}

.social_media > .twitter{
    grid-column: 3;
    grid-row: 2;
}

.about_us{
    grid-column: 2;
}

.our_wallets{
    grid-column: 3;
}


