html,body{
    height: 99%;
}

.content{
    height: 100%;
    padding-bottom: 10%;
    color: white;
}

.text{
    padding-top: 15%;
    margin-left: 15%;
    z-index: 2;
}
.text p{
    width: 70%;
}

section{
    padding: 3%;
    padding-top: 5%;

    height: 60%;

    font-size: 1.5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#left{
    background-color: #e3f3ff;
    z-index: -1;
}

#right img, #left .text, #left svg{
    grid-column: 2;
    grid-row: 1;
}
#right .text, #left img, #right svg{
    grid-column: 1;
    grid-row: 1;
}
svg{
    position: relative;
    z-index: 1;
    height: 110%;
}

.hoWeAre svg{
    right: 6%;
    top: -35%;
    height: 150%;
    transform: rotate(90deg);
}
.whatWeOffer svg{
    right: 3%;
    top: -30%;
    height: 155%;
}
.WhyChooseUs svg{
    height: 160%;
    top: -25%;
    right: 3%;
}
.OurCommitment{
    overflow: hidden;
}
.OurCommitment svg{
    height: 170%;
    top: -32%;
    right: 20%;
}

img{
    height: 500px;
}
.whatWeOffer img{
    margin-left: 30%;
}
.WhyChooseUs img{
    margin-left: 10%;
}


@media only screen and (max-width: 600px){
    section{
        height: 30%;
    }
    .content{
        margin-top: 15%;
        height: 89%;
        padding-bottom: 0;
    }
    section img{
        height: 70%;
        margin-top: 10%;
    }
    .WhyChooseUs img{
        height: 100px;
        margin-top: 30%;
        margin-left: 10%;
    }
    .OurCommitment img{
        height: 15%;
    }
    .OurCommitment .text{
        height: 20%;
    }
    .hoWeAre .text{
        margin-top: 15%;
    }

    section .text{
        font-size: 0.6rem;
    }

    .hoWeAre svg{
        right: 25%;
        top: -15%;
        height: 130%;
    }
    .whatWeOffer svg{
        right: 35%;
        top: -19%;
        height: 130%;
    }
    .WhyChooseUs svg{
        height: 150%;
        top: -20%;
        right: 30%;
    }
    .OurCommitment svg{
        height: 43%;
        top: -9%;
        right: 48%;
    }
}

@media only screen and (max-width: 414px){
}

@media only screen and (max-width: 375px){
    section img{
        height: 60%;
    }
    .hoWeAre img{
        margin-top: 25%;
    }
    .hoWeAre svg{
        right: 50%;
        top: -8%;
        transform: rotate(180deg);
    }
    .whatWeOffer svg{
        right: 45%;
        top: -10%;
        transform: rotate(90deg);
    }
    .whatWeOffer img{
        height: 80%;
        margin-left: 20%;
    }
    .WhyChooseUs svg{
        top: -30%;
        right: 60%;
        transform: rotate(-90deg);
    }
    .OurCommitment svg{
        top: -12%;
        right: 75%;
        transform: rotate(-30deg);
    }
}